<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX Chat</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="h-screen max-w-2xl m-auto flex flex-col items-center justify-between py-5 px-5 gap-8"
    >
      <div id="messages">
        {{ range . }}
        <div><strong>{{ .Sender }}</strong>: {{ .Content }}</div>
        {{ end }}
      </div>
      <form
        hx-post="/chat"
        hx-target="#messages"
        hx-swap="beforeend"
        _="on submit target.reset()"
        class="w-full flex gap-3"
      >
        <input
          placeholder="Message"
          class="border-2 border-gray-200 w-full px-3 py-1.5"
          type="text"
          name="content"
        />
        <button class="text-white bg-blue-500 px-5 py-2" type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
