<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX Chat</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <script src="https://cdn.tailwindcss.com?plugins=aspect-ratio,line-clamp"></script>
    <style>
      a {
        color: rgb(59, 13, 246) !important;
      }
      a:hover {
        text-decoration: underline;
      }

      @keyframes fade-in {
        0% {
          opacity: 0;
          scale: 0.9;
        }
        40% {
          opacity: 1;
        }

        100% {
          opacity: 1;
          scale: 1;
          height: auto;
        }
      }

      @keyframes slide-up {
        0% {
          height: 0;
          opacity: 0;
        }

        100% {
          height: auto;
          opacity: 1;
        }
      }
    </style>
  </head>
  <body>
    <div class="flex h-screen">
      <aside
        id="rooms-lists"
        class="h-full max-h-full overflow-y-auto w-72 bg-gray-100 p-5 flex flex-col gap-5"
      >
        <button
          hx-post="/create-room"
          hx-trigger="click"
          hx-target="#rooms-lists"
          hx-swap="beforeend"
          class="text-white bg-blue-500 px-5 py-2 w-full"
        >
          Create New Room
        </button>
        {{ range .Rooms }} {{ block "roomBtn" .}}
        <button
          hx-get="/room?id={{ .Id }}"
          hx-trigger="click"
          hx-target="#chat-section"
          hx-swap="outerHTML"
          class="text-black bg-gray-300 px-5 py-2 w-full"
        >
          {{ .Name }}
        </button>
        {{ end }} {{ end }}
      </aside>
      {{ block "ChatSection" . }}
      <section
        hx-ext="ws"
        ws-connect="/ws?room={{ .ActiveRoom.Id }}"
        id="chat-section"
        class="h-full max-h-full overflow-hidden flex-1 m-auto flex flex-col items-center justify-between gap-8"
      >
        <div class="flex flex-col-reverse overflow-y-auto max-h-full flex-1 w-full">
          <div id="messages" class="w-full flex flex-col gap-4 pt-5 px-5">
            {{ range .ActiveRoom.Messages }} {{ block "message" . }}
            <div class="bg-gray-100 px-4 py-2 w-fit max-w-sm origin-left">
              <strong>{{ .Sender }}</strong>: {{ .Content }}
            </div>
            {{ end }} {{ end }}
          </div>
        </div>
        <form
          id="message-form"
          hx-post="/chat"
          hx-swap="none"
          _="on submit target.reset() then if #link-preview remove #link-preview end"
          class="w-full flex flex-col gap-2 py-5 px-5 bg-slate-200 overflow-hidden"
        >
          <div class="flex gap-3">
            <input type="hidden" name="room" value="{{ .ActiveRoom.Id }}" />
            <input
              placeholder="Message"
              class="border-2 border-gray-200 w-full px-3 py-1.5"
              type="text"
              name="content"
              id="message-input"
              hx-post="/link-preview"
              hx-swap="afterbegin"
              hx-trigger="keyup changed delay:700ms"
              hx-target="#message-form"
              required
            />
            <button class="text-white bg-blue-500 px-5 py-2" type="submit">Send</button>
          </div>
        </form>
      </section>
      {{ end }}
    </div>
  </body>
  <script>
    htmx.on('htmx:beforeRequest', (e) => {
      if (e.detail.pathInfo.requestPath === '/link-preview') {
        const inputValue = e.target.value;

        const notIncludesUrl = inputValue.split(' ').every((val) => {
          return !isValidUrl(val);
        });

        const linkPreviewEl = document.getElementById('link-preview');

        if (notIncludesUrl && linkPreviewEl) {
          linkPreviewEl.remove();
        }

        if (notIncludesUrl) {
          e.preventDefault();
        }

        if (!notIncludesUrl && linkPreviewEl) {
          e.preventDefault();
        }
      }
    });

    function isValidUrl(str) {
      try {
        const url = new URL(str);
        return url.protocol === 'http:' || url.protocol === 'https:';
      } catch (_) {
        return false;
      }
    }
  </script>
</html>
